# macOS
.DS_Store

# Dependencies
node_modules/

# Build outputs and coverage
coverage/
dist/
build/
out/

# Assets
*.png
*.sms

# Local directories
scripts/
tools/

# JS files except configs
*.js
!*.config.js
!*.config.cjs
!*.config.mjs
!*rc.js
!*rc.cjs
!*rc.mjs
!vitest.config.ts
!tsconfig.json

# JSON files in specific directories
*.json
